:root {
  --primary-color: hsl(14, 45%, 36%);
  --secondary-color: hsl(332, 33%, 64%);
  --secondary-light: hsla(316, 92%, 57%, 0.148);

  --accet-color: hsl(30, 54%, 90%);
  --brawn-color: hsl(30, 10%, 34%);
  --dark-color: hsl(24, 5%, 18%);
}
.dark-mode {
  --primary-color: hsl(210, 40%, 20%);
  --secondary-color: hsl(210, 25%, 50%);
  --secondary-light: hsla(210, 20%, 40%, 0.2);
  --accet-color: hsl(210, 20%, 15%);
  --brawn-color: hsl(210, 15%, 25%);
  --dark-color: hsl(210, 10%, 10%);
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header {
  padding: 3rem;
}
h1 {
  font-family: "Young Serif", serif;
  font-size: 4rem;
}
.header p {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  object-fit: fill;
  text-align: justify;
}
.pt {
  letter-spacing: 0.1rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--secondary-light);
  margin: 0 2rem;
  border-radius: 10px;

  padding: 0.5rem 2.5rem;
}
.pt h2 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}
.pt li {
  margin-top: 1rem;
  font-size: 1.8rem;
  padding-left: 2rem;
  font-weight: 200;
}

.ing {
  padding: 1rem 2rem;
  font-family: "Outfit", sans-serif;
}
.ing h1 {
  font-size: 3rem;
  color: var(--primary-color);
}
.ing li {
  font-size: 1.8rem;

  font-weight: 200;
  margin-bottom: 0.5rem;
  text-align: justify;
}
hr {
  width: 80%;
}
.ins {
  line-height: 1.5;
}
.ins li {
  padding-left: 1rem;
}
.ins ul {
  list-style: decimal;
}
.ins li::marker {
  font-weight: 500;
  color: var(--brawn-color);
}
strong {
  font-weight: 650;
  color: var(--brawn-color);
}

table {
  font-size: 1.8rem;
  padding: 1rem 1rem;
  width: 100%;
  text-align: left;
}
.nut h1 {
  padding: 0;
}

td {
  padding: 0.5rem 2rem;
}

table td:nth-child(2) {
  color: var(--primary-color);
  font-weight: 700;
}
table tr:nth-child(even) {
  background-color: #e0e0e0; /* Changes the background color of even rows */
}
.nut p {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  object-fit: fill;
  text-align: justify;
}
body {
  background-color: var(--accet-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cotainer {
  width: 400px;
  background-color: #f2f2f2;
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
}
button {
  margin: 2rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--secondary-color);
  color: var(--accet-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 768px) {
  body {
    background-color: var(--accet-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  button {
    margin: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
    font-family: "Outfit", sans-serif;
    background-color: var(--secondary-color);
    color: var(--accet-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    t .cotainer {
      width: 50%;
      height: auto;
      background-color: #f2f2f2;
      margin: 10rem auto;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
